    <div class="container">
    <div id="wrapper">
      <h1><i>Welcome to NewScraper!</i></h1>
      <div id="articles"></div>
      <div id="notes"></div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>
